
@{
    ViewData["Title"] = "detail1";
}






<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CauseLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CauseLink.styles.css" asp-append-version="true" />
</head>
<body style="background-color:rgba(42, 21, 58, 1)" align="center">


    <!--Welcome card-->

    <div style="padding-top: 100px ; padding-right: 100px; padding-left: 100px;">
        <div class="card" style="background-color:rgba(202, 173, 214, 0.5)  ">
            <div class="card-body">
                <div align="center">
                    <p style="font-size:30px; font-family:Inter; color:white">CONNECTOR</p>
                    <b style="font-size:40px; font-family:Inter; color:white"> Material collection and sorting volunteer</b>

                    <p style="font-size:30px; font-family:Inter; color:white">Recruiting through Dec 31st</p>
                    <button type="submit" style="border-color:rgba(255,255,255,0); background-color:rgba(171, 125, 207, 1); font-family:Judson; border-radius:37px;height:50px; width:350px">
                        <b><a class="nav-link" asp-area="" asp-controller="Signin" asp-action="page0" style="color:white;">Express Interest</a></b>
                    </button>

                    <hr style="color:white" />

                    <div align="left" style="width: 40%; float: left; background-color: rgba(202, 173, 214, 0);font-family:judson;color:white; padding-left:30px">
                        <p style="font-size:20px">Opportunity Details</p>
                    </div>

                    <!-- Second section with smaller size -->
                    <div text-align="justify" align="left" style="width: 60%; float: left; background-color: rgba(202, 173, 214, 0);font-family:judson;color:white;padding-right:60px">
                        <b style="font-size:25px">About this oppurtunity</b>
                        <br /><br />
                        <p style="font-size:20px">The collection involves the conduction of collection drives with potential stakeholders through making arrangements such as coordination, preparation of collection boxes, placement of boxes, orientations in cases of educational institutes, and transportation (before & after collection).</p>
                        <p style="font-size:20px">Sort collected items such as clothes, footwear, books, stationery, home utility decor, etc. into various categories. All volunteers have their own unique delight in sorting items as some are interested in knowing about new books or CDs, some in knowing about various cloth pieces or accessories, some are interested in games & toys, etc. which makes this process exciting to each volunteer.</p>
                        <br /><br />
                        <p style="font-size:20px">Duration 2 months</p>
                        <br /><br />
                        <p style="font-size:20px">Frequency: 3 hours weekly</p>
                        <br /><br />
                        <p style="font-size:20px">
                            Mode: Offline in Ahmedabad
                        </p>
                        <br /><br />
                        <p style="font-size:20px">Note: This is an unpaid volunteering opportunity.</p>
                    </div>
                    <div style="content:close-quote; clear: both;display: table;"></div>

                </div>
            </div>
        </div><br /><br />
    </div>
    <br />
    <br />




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



