
@{
    ViewData["Title"] = "Index";
}






<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CauseLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CauseLink.styles.css" asp-append-version="true" />
</head>
<body style="background-color:rgba(42, 21, 58, 1)" align="center">


    <!--Welcome card-->

    <div style="padding-top: 100px ; padding-right: 100px; padding-left: 100px;">
        <div class="card" style="background-color:rgba(202, 173, 214, 0.3);  ">
            <div class="card-body">
                <div align="center">
                    <b style="font-size:60px; font-family:Inter; color:white">FAQs</b><br /><br />
                    <hr style="color:white"/>

                    
                    <div style="text-align:left;padding-left:40px;padding-right:40px;color:white">
                    <b>
                            <p style="font-size:30px;padding-left:60px;padding-right:60px; font-family:Inter; color:white" align="left">What is Engage?</p>
                    </b>
                        <p style="font-size:20px;padding-left:60px;padding-right:60px;">Engage is Points of Light’s platform for volunteers looking for ways to help in their communities to find opportunities and organizations that need their time, talents and passion. Nonprofits can register their organizations, curate a profile of their volunteer programs and needs, and keep their volunteer events and ongoing opportunities up to date through the platform’s posting app.</p>
                        <hr style="color:white;" />
                    </div>


                    <div style="text-align:left;padding-left:40px;padding-right:40px;color:white">
                        <b>
                            <p style="font-size:30px;padding-left:50px;padding-right:50px; font-family:Inter; color:white" align="left">What happened to All For Good?</p>
                        </b>
                        <p style="font-size:20px;padding-left:50px;padding-right:50px;">
                            Engage builds upon the technology and partnerships established through All For Good. The volunteer opportunity aggregation services of All For Good now power the catalog at Engage, with updates to the design, search and filtering features. AllForGood.org will remain available to existing users through November 30, 2020, but newly registered organizations seeking to post volunteer opportunities will be directed to the new platform.
                        </p>
                            <hr style="color:white;" />
                    </div>


                    <div style="text-align:left;padding-left:40px;padding-right:40px;color:white">
                        <b>
                            <p style="font-size:30px;padding-left:50px;padding-right:50px; font-family:Inter; color:white" align="left">Does the All For Good Search API still exist?</p>
                        </b>
                        <p style="font-size:20px;padding-left:50px;padding-right:50px;">
                            Yes! We continue to work to make the catalog of volunteer opportunities accessible across the web so our partners can issue a volunteer call-to-action and help their audiences discover meaningful ways to engage with causes they care about.
                            We can also help embed a curated volunteer search experience on your website with our search API. If you need additional technical support, we can also provide your organization with a full-service hosted, curated and brand-aligned website experience at a URL of your choosing through our new white label offering. Get in touch with us for more information.</p>
                            <hr style="color:white;" />
                    </div>


                    <div style="text-align:left;padding-left:40px;padding-right:40px;color:white">
                        <b>
                            <p style="font-size:30px;padding-left:50px;padding-right:50px; font-family:Inter; color:white" align="left">I am a 501c3 nonprofit organization with a valid EIN, so why can’t I find my organization when I try to register?</p>
                        </b>
                        <p style="font-size:20px;padding-left:50px;padding-right:50px;">The first step in our registration system uses information from Google to identify your organization and its place-oriented business data (address, website, etc.) Google has most US-based registered 501c3 organizations in their system already, but if you have trouble finding yours in the search, you will need to add it to Google’s database at Google My Business. There are a lot of good reasons to do this beyond enabling you to register with Engage. Having a profile for your organization in Google will help people discover your important mission in search and maps!</p>
                        <hr style="color:white;" />
                    </div>
                </div>
            </div>
        </div><br /><br />
    </div>
    <br />
    <br />

   


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


