
@{
    ViewData["Title"] = "OrgIndex";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CauseLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CauseLink.styles.css" asp-append-version="true" />
</head>
<body style="background-color:rgba(42, 21, 58, 1)" align="center">


    <!--Welcome card-->
    <div style="padding-top: 50px ;">
        &emsp;
        <button style=" background-color:rgb(202,173,214);border-radius: 12px;border-color:rgba(202,173,214,0)">
            <a class="nav-link" asp-area="" asp-controller="OrgDashBoard" asp-action="New" style="color:black; font-size:22px"> New Post</a>
        </button>

        <b style="color:white; font-family:judson; font-size:40px;padding-left:650px" align="center">CONNECTOR</b>


        <hr style="color:white" />


        <div style="padding-top: 100px ; padding-right: 100px; padding-left: 100px;">
            <div class="card" style="background-color:rgba(42, 21, 58, 1)  ">
                <div class="card-body">
                </div>
            </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
    <br />
    <br />




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>













